.input {
  width: 300px;
  height: 24px;
  padding: 8px;
  border-radius: 8px;
  margin-left: calc(50% - 150px);
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-top: 32px;
  margin-bottom: 12px;
  margin-left: calc(50% - 150px);
}